*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'monteserrat',sans-serif;
    box-sizing: border-box;
}

body
{
    /* background-color:rgb(120, 115, 176); */
    /* background-color: rgb(202, 158, 101); */
    /* background-image: url("https://blog.talent500.co/wp-content/uploads/2022/05/JavaToolKit_Banner-1200x500.png"); */
    background-image: url("https://cdn.fs.teachablecdn.com/TnTwwqhnToupBObMvtqH");
   
}

/*----------------------navbar start----------------*/
#nav-menu
{
    width: 100%;
    height:80px;
    
    /* background:  rgb(203, 196, 196); */
    background-color: rgba(250, 118, 95, 0.943);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.logo
{
    font-size: 29px;
    /* font-weight: bold; */
    color:white;
    /* font-style: italic; */
    padding: 10px;
    cursor: pointer;
}

#a
{
    color:black;
}

#d
{
    color:black;
}

.hamburger
{
    display: none;
}
.nav-list ul
{
    display: flex;
}
.nav-list ul li a
{
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 10px;
    /* border-radius: 50px; */
    transition: 0.2s;
    margin: 0 5px;
}
.nav-list ul li a:hover
{
  color:lightslategray;
}
#resume-button-1
{
    height: 50px;
    width:110px;
    border-radius: 12px;

}
#resume-button-1{
    display: flex;
    flex-direction: row;
  }

  /*----------------------------------------------Home Section-------------------------------------*/
  #main{
    display: flex;
    gap: 100px;
    /* justify-content:space-evenly ; */
    /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL_ZcO11FTkmnn_RktuSnMu1xLlPBUVgHj9A&usqp=CAU"); */
    /* background-image: url("https://www.tellius.com/wp-content/uploads/2019/05/tree-feature.jpg"); */
    /* background-image: url("https://wallpaperaccess.com/full/1426870.png"); */
    background-image: url("https://blog.miappi.com/hubfs/Imported_Blog_Media/Algorithms.jpg");
    background-size: cover;
  }
  .pro{
    width: 30%;
    /* border: 1px solid red; */
    margin-right: 10px;
  }
  .pro img {
    width: 100%;
    
    margin-top: 170px;
    /* margin-right: 100px; */
   
    border-radius: 50%;
    height: 350px;
  
  }
  
  #main-cont{
  
    margin-top: 100px;
    width: 70%;
    padding:120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(255, 114, 90);
    /* background-size: 100%; */
    /* margin-left: -300px; */
    /* border: 1px solid red; */
    
  }
  #main-cont p{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  #main-cont h1{
    font-size: 70px;
  }
  #main-cont span{
    font-size: 40px;
  }
  #resume-button-2{
    background-color:rgb(255, 114, 90);
    height:55px;
    width:150px;
    border-radius: 12px;
    margin-top: 30px;
    border: none;
  }
  #resume-button-2 a{
    font-size: 20px;
    color: black;
   
  }
  #resume-button-2:hover{
   background-color: transparent;
   border: 2px solid rgb(242, 119, 98);  
  }
  #resume-button-2:hover a{
    color:rgb(242, 119, 98);
  }
  .typing{
    color:rgb(203, 196, 196);
  }
  .typed-cursor
  {
    opacity: 0.5;
  }
  

  .fade-in-fade-out
  {
    animation: fade-inout 3s infinite;
    /* font-size: 5em; */
  }
    @keyframes fade-inout {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

  /*---------------------------------------About Section-------------------------------------*/
  /* #About
  {
    border: 5px solid red;
  } */
  #About .hero{
    text-align: center;
    width:80%;
    margin:auto;
    padding: 30px 0px;
  
  }
  .hero img{
   display: block;
   margin: auto;
   height:250px;
   width:250px;
   border-radius: 20%;
   margin-top: 40px;
   margin-bottom: 30px;
   /* border:3px solid turquoise; */
  }
  article h1{
    font-size: 50px;
    padding-top: 60px;
    font-weight: 500;
    color:rgb(203, 196, 196);
  }
  article h1::after{
    content:"";
    height:3px;
    width:225px;
   background-color: rgb(203, 196, 196);
   display: block;
   margin: auto;
  }
  content{
    font-size: 17px;
    color:rgb(203, 196, 196);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 20px;
  }
  


  /*-----------------------------------SKILLS-------------------------------*/
  #skills h1, #projects h1, #contact h2
  {
    text-align: center;
    padding-top: 80px;
    color:rgb(203, 196, 196);
    font-size: 40px;
    font-weight: 20px;
  }

  #skills>span,
#contact span,.react-activity-calendar>span
{
  display: block;
  height: 3px;
  width: 150px;
  background-color: rgb(203, 196, 196);
  margin: auto;
}
/* #skills
{
  justify-content: space-between;
} */

.skill-box
{
  width: 80%;
  margin: auto;
  display: grid;
  align-items:end;
  grid-template-columns: repeat(5,1fr);
  gap: 50px;
  text-align: center;
  color: #f1f1f1;
  padding: 40px 50px;
  place-items: center;
}

.skill-box>div{
  width: 100px;
  border-radius: 10%;
  /* box-shadow: rgba(248, 103, 13, 0.804) -5px 5px, rgba(116, 199, 143, 0.3) -10px 10px, rgba(116, 199, 143, 0.2) -15px 15px, rgba(116, 199, 143, 0.1) -20px 20px, rgba(116, 199, 143, 0.05) -25px 25px; */
  box-shadow: 9px 9px 5px rgb(242, 119, 98);  
  background-color: lightslategrey;

}
.skills-card-name
{
  color: black;
}
.skill-box img
{
  width: 100%;
  border-radius:10%;

}
.skills-card:hover{
  transform: rotate(-10deg);
}

/*-----------------------------------Tools-------------------------------------*/
#toolls h1{
  text-align: center;
  padding-top: 80px;
  color:rgb(203, 196, 196);
  font-size: 40px;
  font-weight: 20px;
}

#toolls span{
  display: block;
  height: 3px;
  width: 150px;
  background-color: rgb(203, 196, 196);
  margin: auto;
}

.toolls-box{
  width:80%;
  margin-left: 220px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  text-align: center;
  color:lightslategrey;
  padding: 40px 50px;
  margin: auto;
  place-items: center;
 
} 

 
.toolls-box>div{
width:100px;
border-radius: 10%;
/* background-color: rgb(26, 25, 36); */


}
.toolls-card-name{
 color:rgb(203, 196, 196);
 /* text-align: center; */
 margin-top: 10px;
}

.toolls-box img{
 width:100%;
 border-radius: 100px;
}
.toolls-card
{
  /* border-radius: 10px; */
  /* border-bottom: 50px solid #555; */
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 100px;
	width: 125px;
  /* margin-top: 20px; */
}

.toolls-card:hover{
  /* transform: rotate(-60deg); */
  transform: scale(1.5);
}

/*---------------------------------Project------------------------------------ */
.project{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:40px;
  margin: auto;
  padding-top:40px;
  padding-bottom: 40px;
  transition:transform .5s ease-in-out; 
}

.project-card:hover{
  transform: scale(1.02);
  background: rgb(203, 196, 196);
  color: black;

}
.project-card:hover .project-github-link,
.project-card:hover .project-deployed-link,
.project-card:hover .project-card h2{
border:3px solid black;
background-color: rgb(203, 196, 196)!important;
color:rgb(203, 196, 196);;
}
.project-card:hover .small_div>img{
  border: 3px solid black;
}

.project-card h2{
  text-align: center;
  margin:10px 10px
}
.project-card{
  box-shadow: 10px 10px 5px lightslategray;
  /* background-color:rgb(26, 25, 36); */
  color: #fff;
  border-radius: 70px;
  padding:60px 60px;
  border: 2px solid rgb(203, 196, 196);
  height: 680px;
  
}
#projects >span{
  display: block;
  height: 3px;
  width: 170px;
  background-color: rgb(203, 196, 196);
  margin: auto;
}


.project-card img{
  width: 100%;
  border-radius: 10px;
  border:3px solid rgb(203, 196, 196)
}
.project .project-card p{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.project-tech-stack{
  margin-top: 10px;
}
.repo-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-top: 80px;
  margin-left: 10px;
}

.project-github-link {
  display: flex;
  width: 35%;
  border: 2px solid rgb(203, 196, 196);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightslategray;
  
}
.project-github-link a {
  text-decoration: none;
  
}
.project-github-link button{
  border: none;
  background-color:transparent;
  color:white;
 font-size: 20px;
}

.project-deployed-link {
  display: flex;
  width: 35%;
  border: 2px solid rgb(203, 196, 196);
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightslategray;
}
.project-deployed-link a{
  text-decoration: none;
  
}
.project-deployed-link button{
  border: none;
  background-color:transparent;
  color:white;
 font-size: 20px;
 
}
/*-----------------------------------Github-------------------------------------*/

.react-activity-calendar h1
{
  text-align: center;
  padding-top: 80px;
  color:rgb(203, 196, 196);
  font-size: 40px;
  font-weight: 20px;
}
.git-box{
  width:85%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  gap:20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.git-box img{
  width:100%;
}
.calendar{
  width:90%;
 color:rgb(203, 196, 196);
}

/*-----------------------------------Contacts-------------------------------*/
.contact-content {
  width:90%;
  display: flex;
  margin:auto;
  justify-content: space-evenly;
  padding-top:50px;
  padding-bottom: 50px;
  color: rgb(203, 196, 196);
}
.text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.sub-title{
   font-weight:500
}
.icons{
  margin-top: 40px;
}
.row {
  display: flex;
  line-height: 3;
}
.info {
  margin-left: 30px;
}
.row i {
  font-size: 25px;
  color: rgb(203, 196, 196);
}

.info a {
  color: rgb(203, 196, 196);

}

.fields {
  display: flex;
}
.field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.textarea {
  height: 80px;
  width: 100%;
}
.name {
  margin-right: 10px;
}
.field input,
.textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid  rgb(203, 196, 196);
  ;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
}
.textarea textarea {
  padding-top: 10px;
  resize: none;
}

.button-area button {
  width: 160px !important;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  background: black;
  color: rgb(203, 196, 196);
  border: 2px solid rgb(203, 196, 196);
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: white;
  background: none;
}
 /*------------ responsiveness---------------- */

@media all and (max-width: 1320px) {

  #nav-menu{
      padding: 0 50px;
       /* width:100%  */
  }
 
}
@media all and (max-width: 1100px) {
  #nav-menu{
     padding: 0 30px;
     /* width:100% */
  }
   
 }

@media all and (max-width: 900px) {
    
  .hamburger{
  display: block;
  cursor: pointer;
  }
  .hamburger .line{
  width:30px;
  height:3px;
  background: #fefefe;
  margin: 6px 0px;

  }
  .nav-list{
  height: 0px;
  position: absolute;
  top: 80px;
  left:0px;
  right:0px;
  width:100vw;
  background: lightslategray;;
  transition: 0.2s;
  overflow: hidden;
  }
  .nav-list.active{
      height: 450px;
  }
  .nav-list ul{
      display: block;
      width: fit-content;
      margin:80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }
  .nav-list.active ul{
      opacity:1
  } 
  .nav-list ul li a {
      line-height: 30px;
      color: black;
  }
  .nav-list ul li:nth-child(6):hover{
      background-color:  transparent!important;
      border:2px solid rgb(203, 196, 196);
      border-radius: 10px;
    
  }
  .nav-list ul li:nth-child(6):hover #resume-button-1{
      background-color:  transparent !important;
      border:none;
  }
  #main{
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .pro{
    width: 50%;
    /* border: 1px solid red; */
    height: auto;
    text-align: center;
    /* margin-left: 90px; */
  }
  .pro img{
    width: 100%;
    margin-top: 0px;
  }
 #main-cont{
  width: 100%;
 }
   
  .skill-box{
      display: grid;
      /* width:70%; */
      grid-template-columns: repeat(3,1fr);

  } 
  .toolls-box{
    display: grid;
    /* width:70%; */
    grid-template-columns: repeat(3,1fr);

} 

  .project{
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
  .project-card{
      width:90%;
      margin-left: 30px;
  }
  .contact-content,.fields,.git-box{
      display :flex;
      flex-direction: column;
      height:auto;   
  } 
  .contact-content,.icons{
      padding:0px;
      margin:20px
  }
  #main-cont p{
      font-size: 30px;
      margin-bottom: 15px;
  }
  #main-cont h1{
      font-size: 40px;
      margin-bottom: 15px;
  }
  #main-cont span{
      font-size: 30px;
  }
  .project-github-link a{
      font-size: 12px;
   }
   .project-deployed-link a{
       font-size: 12px;
   }
}
@media all and (max-width: 600px) {
  .skill-box{
      display: grid;
      /* width:70%; */
      grid-template-columns: repeat(2,1fr);
      /* margin-left: -5px; */
  } 
  .toolls-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .project-card{
      width:85%;
      margin-left: 20px;
  }
 
}
@media all and (max-width: 400px) {
  .skill-box{
     margin-left: 10px;
  } 
  .toolls-box{
    margin-left: 10px;
    /* border: 1px solid red; */
  }
 
  .project-card{
      width:85%;
      margin-left: 10px;
  }
  .project-github-link a{
     font-size: 10px;
  }
  .project-deployed-link a{
      font-size: 10px;
  }
}
@media all and (max-width: 350px) {
  .skill-box{
      margin-left: -25px;
   } 
   .project-card{
      margin-left: 10px;
  }
}
@media all and (max-width: 280px) {
  .skill-box{
    margin-left: 20px;
    /* border: 1px solid red; */
 } 
  .toolls-box{
  
    margin-left: -35px;
    /* border: 1px solid red; */
  }
  .project-card{
    margin-left: -15px;
}

}

@media all and (max-width: 300px) {
  .hero img{
     width:100%
  }
  .skill-box{
     margin-left: -25px;
  } 
  .skill-box>div{
      width:90px
  }
  .project-card{
      width:85%;
      /* margin-left: -5px; */
  }
  .project-github-link a{
     font-size: 10px;
  }
  .project-deployed-link a{
      font-size: 10px;
  }
  .info{
      margin-left: 20px;
  }
}

      /* scroll up-button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(203, 196, 196);
  color:lightslategray;
  cursor: pointer;
  padding: 12px;
  border-radius: 7px;
}

#myBtn:hover {
  background-color: lightslategray ;
  color:#010d1d
}